<div class="landing_page">
  <h1>Welcome to Fitsapp Chat!</h1>
  <%= link_to '<i class="fa fa-user-plus" aria-hidden="true"></i> Get Started'.html_safe, new_user_registration_path %>
  <%= link_to '<i class="fa fa-sign-in" aria-hidden="true"></i> Login'.html_safe, new_user_session_path %>
</div>
