<div class="user">
  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-lg' %>
  <%= link_to 'chat', user_chats_path(current_user.id), class: 'btn btn-lg btn-primary' %>
</div>
